.container-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-profile {
    width: 35px;
}

.user-profile:hover {
    cursor: pointer;
}

.icon-cart {
    width: 25px;
    height: 25px;
}

.icon-cart:hover {
    cursor: pointer;
}